/*    HTTP Host:  static.ak.fbcdn.net                                          */
/*    Generated:  April 14th 2009 4:06:35 PM PDT                               */
/*      Machine:  10.16.139.104                                                */
/*       Source:  Global Cache                                                 */
/*     Location:  css/4mmh4p61fse8o4c0.pkg.css h:32a7w93r                      */
/*       Locale:  en_US                                                        */
/*         Path:  css/4mmh4p61fse8o4c0.pkg.css                                 */

.jobs .column{float:left;}
.jobs .text_column{width:684px;}
.jobs .pics_column{margin-top:20px;width:76px;}
.jobs #content img{border:1px solid #c0c0c0;padding:2px;margin:0 10px 2px 2px;}
.jobs img.right{margin:0 0 2px 6px;}
.jobs img:hover{border-color:#3B5998;}
.jobs .puzcode{padding:5px;border-style:solid;border-width:1px;border-color:lightgrey;margin:10px 20px 10px 20px;background-color:#eeeeee;}
.jobs .nowrap{white-space:nowrap
}
.jobs .code{font-family:courier new;font-size:12px;}


.policy #content{padding-top:0px;}
.policy .wrapper{line-height:160%;padding:0px 20px 15px;}
.policy #content .title_header h2{border-bottom:none;color:#333333;margin-top:0px;font-size:14px;padding-bottom:5px;}
.policy #content h2{border-bottom:1px solid #D8DFEA;color:#333333;font-size:14px;padding-bottom:5px;}
.policy #content h3{border-bottom:1px dotted #D8DFEA;color:#3B5998;font-size:12px;font-weight:bold;padding-bottom:5px;margin-bottom:5px;}
.policy #content h4,{color:#333333;font-size:11px;font-weight:bold;margin:0 0 5px 0;padding:0 0 5px 0;}
.policy #content h2{margin-top:20px;}
.policy #content dl{padding-left:0px;}
.policy #content dt{font-size:12px;font-weight:bold;margin:0 0 3px;}
.policy #content dd{margin:0 0 10px 10px;}
.policy #content ol{padding-left:25px;}
.policy .privacy_settings_callout{background:#fff8cc;border-bottom:1px solid #ffe700;color:#333;padding:10px 10px 10px 20px;}
.policy .privacy_settings_callout img.callout_icon{float:left;margin:-1px 5px 0px 0px;}
.jobs .wrapper h2{border-bottom:1px solid #D8DFEA;color:#333333;font-size:14px;padding-bottom:5px;}
.jobs .wrapper h3{border-bottom:1px solid #D8DFEA;color:#333333;font-size:12px;font-weight:bold;padding-bottom:3px;margin-bottom:5px;}
.jobs .wrapper ul.list{margin:0 0 15px;padding:0;list-style:none;}
.jobs .wrapper ul.list li{margin:0 0 3px;}
.jobs .wrapper h4{border-bottom:1px solid #D8DFEA;color:#333333;font-size:12px;font-weight:bold;margin:0;padding:0;padding-bottom:5px;margin-bottom:5px;}
.jobs #content{padding:0px 0 0 0;}
.jobs .wrapper{padding:5px 50px 15px 35px;line-height:1.5em;}
.jobs .quotewrapper{width:684px;margin:0 auto;line-height:1.5em;}
.jobs .gray{padding-top:20px;border-top:1px solid #ccc;background:#f7f7f7;}
.jobs .open_dept{cursor:pointer;background-image:url(/images/flex_arrow_open.gif);background-repeat:no-repeat;}
.jobs .shut_dept{cursor:pointer;background-image:url(/images/flex_arrow_shut.gif);background-repeat:no-repeat;}
.policy .ad_guidelines ol, .policy .ad_guidelines ul{margin-left:1em;padding-left:1em;}
.policy .ad_guidelines ul{list-style-type:disc;}
.policy .ad_guidelines ol li{margin-top:0.8em;}
.policy .ad_guidelines ul li{margin-top:0.2em;}
.policy .ad_guidelines ol p{margin-bottom:0.5em;}
.policy .ad_guidelines ol{margin-bottom:2em;}
.policy .ad_guidelines p{clear:both;}


#bootloader_css_4mmh4p61fse8o4c0_pkg_css { height: 42px; }