/*    HTTP Host:  b.static.ak.fbcdn.net                                        */
/*    Generated:  April 21st 2009 10:11:36 AM PDT                              */
/*      Machine:  10.16.139.110                                                */
/*       Source:  Global Cache                                                 */
/*     Location:  css/careers.css h:38cq0ntz                                   */
/*       Locale:  en_US                                                        */
/*         Path:  css/careers.css                                              */


.padded{padding:10px;}
.rounded_container{margin:0;padding:0;}
.inside_rounded{padding-bottom:0px;margin-bottom:5px;}
.careers{color:#333;}
.careers_full{width:940px;margin-left:auto;margin-right:auto;}
.careers .full_cleared{width:940px;padding-top:10px;clear:left;}
.careers .careers_left_column{margin-right:20px;}
.careers_half{width:460px;float:left;}
.perks .careers_third .box img{border:1px solid #BEBEBE;display:block;margin:3px 0 10px 0;padding:3px;}
.careers_third{margin:0 0 4px 0;width:300px;float:left;display:block;padding-top:0;padding-bottom:5px;}
.careers_subthird{display:block;margin:2px 0;width:300px;float:left;padding-bottom:5px;}
.careers_twothirds{width:620px;float:left;display:block;padding-bottom:5px;}
.careers_narrowbox{width:154px;float:left;}
.careers_widebox{width:715px;float:left;}
.bordered{border-bottom:1px solid #D3DAE5;margin:5px;padding:5px;}
.careers_header{background-color:#E8EAEF;border-bottom:1px solid #d3dae5;margin-bottom:7px;}
.careers_subpage_header{margin-bottom:12px;}
.careers_header_contents{padding:40px 4px 15px 4px;}
.careers_header_title{font-size:14px;padding:11px 0;}
.careers_header_contents .careers_header_title{width:auto;}
.careers_header_subtitle{font-size:14px;line-height:20px;margin:0 0 10px 0;padding:0;}
.UICareersPage{margin-left:4px;line-height:150%;}
.careers .careers_header h2{font-size:20px;}
.careers h2{font-size:16px;}
.careers .box_head h2{font-size:11px;}
.careers h3{font-size:16px;margin-bottom:14px;}
.careers h4{font-size:12px;margin-bottom:5px;}
.careers .UICareersPage ul{margin:0 0 0 12px;padding-left:10px;}
.careers .UICareersPage ul li{list-style-type:square;margin-bottom:7px;font-size:12px;line-height:18px;}
.careers .box h3.box_header{font-size:13px;}
.careers .box h4{font-size:11px;margin-bottom:-7px;border:0 none;}
.careers .topmargin{margin-top:30px;}
.careers .welcome_careers_block{display:block;margin:5px 20px 18px 0;}
.careers .image_frame{display:table;border:1px solid #bebebe;padding:3px;}
.careers .careers_grid{display:block;margin:0;padding:0;}
.careers .careers_grid .careers_full{margin:0;clear:both;}
.careers #grid_filter_selector{margin:21px 0 0 4px;}
.careers #grid_filter_selector a{display:block;float:left;font-weight:bold;margin-right:15px;}
.careers #grid_filter_selector a.activated{color:#333;}
.careers .department_listing{border-top:1px solid #d3dae5;display:block;float:left;margin-right:16px;padding:14px 0;width:300px;}
.careers .department_listing.last{margin-right:0;}
.careers .department_listing .careers_dept_img{display:block;width:52px;height:52px;float:left;margin:5px 0 0 3px;}
.careers .first_row .department_listing{border-top:none;padding-top:18px;}
.careers .department_listing .department_description{color:#333333;display:block;float:left;margin-left:10px;width:225px;}
.careers .department_listing .department_description h3{font-size:14px;line-height:20px;margin-bottom:0;}
.careers .life_intro_paragraph{margin-bottom:20px;}
.careers .life_intro_paragraph p{font-size:13px;line-height:19px;}
.careers .box .video{margin-bottom:10px;}
.careers .box .video h4{margin-bottom:0;}
.careers .box .video img{margin:0 10px 0 0;}
.careers .department_info .careers_header_title{font-weight:700;font-size:15px;line-height:250%;}
.careers .department_info{font-size:12px;padding-bottom:20px;}
.careers .department_info div{clear:left;}
.careers .department_info img{margin:0 10px 0 0;float:left;}
.careers .meet{padding:10px;}
.careers .vertical_photostrip img{float:right;margin-bottom:8px;}
.careers .footer_container{width:940px;margin:15px 0 20px 0;}
.careers .careers_footer{padding:8px 14px 20px 14px;}
.careers .careers_footer .careers_half{width:445px;}
.careers .footer_description{display:block;float:left;margin-left:16px;width:283px;}
.careers .careers_footer h3{margin:4px 0 6px 0;}
.careers .careers_footer h4{border:0 none;font-size:13px;}
.careers .careers_footer img{border:1px solid #bebebe;display:block;float:left;margin-top:3px;padding:3px;}
.careers .footer_description img{display:inline;float:none;}
#home_welcome{margin:6px 0 0 0;}
.careers #home_welcome img{background-color:#fff;border:1px solid #bebebe;display:block;float:left;padding:3px;}
.careers .home_header_description h2{color:#203360;}
.careers .home_header_description{display:block;color:#203360;float:left;margin:0 0 0 14px;width:440px;}
.careers .home_header_description p{font-size:13px;line-height:20px;margin-top:6px;}
.careers #masthead .UITabStructure_Container{margin:3px auto 0px auto;padding:0px 0px 0px;width:945px;position:relative;top:1px;}
.careers #masthead .UITabStructure_Container ul{margin-left:4px;margin-top:0;}
.careers #masthead .UITabStructure_Tabs li{background:transparent;margin:0 2px 0 0;display:block;float:left;padding:0px;}
.careers #masthead .UITabStructure_Tabs li a{background:#d3dae5;border:1px solid #d3dae5;border-bottom:0px;color:#3b5998;font-weight:bold;padding:5px 11px 4px 12px;margin:0px;display:block;float:left;}
.careers #masthead .UITabStructure_Tabs li a:hover{text-decoration:none;background:#627aad;border:1px solid #627aad;border-bottom:0px;color:#fff;margin:0px;}
.careers #masthead .UITabStructure_Tabs li a.UITabStructure_TabSelected{background:#ffffff;border:1px solid #d3dae5;border-bottom:0px;color:#333333;margin:0px;}
.careers #masthead .UITabStructure_Tabs li a.UITabStructure_TabSelected:hover{text-decoration:none;}
.careers #partylist{margin:18px 0 0 0;}
.careers .puzzle_list_container{margin-left:24px;}
.careers .puzzle_list{width:100%;margin:4px 0 22px;float:left;}
.careers .puzzle_piece{position:relative;left:-24px;float:left;}
.careers .puzzle_list th{border-bottom:1px solid #a3a3a3;color:#999;padding-bottom:3px;position:relative;}
.careers .puzzle_list h3{font-size:14px;margin:0 0 0 -18px;padding:0;float:left;}
.careers .puzzle_list td{padding:7px 0 6px 0;border-bottom:1px solid #e1e1e1;}
.careers .puzzle_description{margin:30px 0 0;}
.careers .puzcode{background-color:#EEE;border:1px solid #DDD;margin:10px 20px;padding:5px;}
.careers .careers_user{margin-bottom:10px;}
.careers .careers_user img{margin:5px 15px 4px 0;}
.careers .career_school{border:1px silver solid;width:100%;font-size:13px;}
.careers .careers_list{padding:5px 5px 0;margin:0 0 0 12px;}
.careers .UICareersPage ul{margin:10px 0 0 12px;padding-left:10px;}
.careers .careers_list li{list-style-type:square;margin-bottom:7px;}
.careers .UICareersPage ul.iconized_list{padding-left:0;margin-left:0;overflow:hidden;}
.careers .UICareersPage ul.iconized_list li{list-style-type:none;background-repeat:no-repeat;padding:0px;margin:0 0 7px 0;}
.careers .UICareersPage ul.iconized_list img.spritemap_icons{float:left;display:inline;margin:0 10px 4px 0;}
.careers_h2{padding:5px;}
.careers .apply .status{margin-top:20px;}
.careers .careers_apply_button{margin-top:5px;}
.careers .perks_video{padding:10px 14px;}
.careers .perks_video h4{border-top:1px solid #ccc;margin:10px 0 0;padding:5px 0 0;}
.careers .perks_video p{margin:7px 0;}
.careers .perks_video img{}
.careers .careers_news h4{margin-top:5px;margin-bottom:5px;padding-bottom:3px;border-bottom:1px solid silver;}
.floatright{float:right;}


#bootloader_css_careers_css { height: 42px; }