/*
HTTP Host: static.ak.fbcdn.net
Generated: June 1st 2010 9:14:58 AM PDT
Machine: 10.16.140.108
Locale: nu_ll
Path: css/856yzl2mzqckwkkw.pkg.css
*/

.UIMentor{margin:0;color:#333}
.UIMentor_Name{font-weight:bold;margin:0 0 1px 0;line-height:14px}
.UIMentor_Message{padding:0;margin:2px 0 1px 0;line-height:14px;color:#777}
.UIMentor_Meter{width:85px;margin:1px 0 1px 0;float:left}
.UIMentor_Complete{color:#888;margin:-1px 0 0 4px;line-height:11px;float:left}
.UIMentor_Action{margin-top:2px}
.UIMentor_Progress{margin:3px 0 3px 0}
.UIMentor .UIMentorSendMessage .UIImageBlock_ICON_Image{margin-top:2px}
.UIMentor .UIMentorPoke .UIImageBlock_ICON_Image{margin-top:1px}
.UIMentor .UIImageBlock_ICON_Image{margin:0 6px 0 0}
.UIMentor .UIImageBlock_ICON_Content{vertical-align:top}
.UIMentor .ImageBlock_Hide{display:block;font-size:0;height:13px;padding:0;margin:1px 2px 0 6px;width:11px;background:transparent url(/rsrc.php/zA4IG/hash/cny9pytx.png) no-repeat -869px -65px}
.UIMentor .ImageBlock_Hide:hover{background-position:-857px -65px;background-color:#3b5998;text-decoration:none}
.friend_grid .friend_grid_row{margin:10px 0 5px}
.friend_grid .friend_grid_col{margin-left:10px;float:left;width:174px;overflow:hidden}
.friend_grid form.async_saving{opacity:.50;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50)}
.friend_grid .friend_grid_col .fg_name{font-size:11px;font-weight:bold;margin:0 0 1px 0;line-height:14px;width:90px;display:block;*display:inline;word-wrap:break-word}
.friend_grid .friend_grid_col .fg_explain{line-height:14px;padding:0;margin:2px 0 1px 0;color:#777}
.friend_grid .friend_grid_col .fg_action_hide{display:block;font-size:0;line-height:0;border-width:0;width:11px;height:13px;*margin:-1px -2px 0 -6px;padding:0;text-indent:-5000px;background:transparent url(/rsrc.php/zA4IG/hash/cny9pytx.png) no-repeat -869px -65px}
.friend_grid .friend_grid_col .fg_action_hide:hover{background-position:-857px -65px;background-color:#3b5998;text-decoration:none}
.friend_grid .friend_grid_col .fg_action_hide_container{margin:1px 2px 0 6px;width:11px}
.friend_grid .inactive{color:#666}
.pymk_participants_not_expanded .pymk_participants_long,
.pymk_participants_expanded .pymk_participants_short{display:none}
.UISuggestionList_ItemContainer{margin:10px 0 0;overflow:hidden;padding:10px 0 0;border-top:1px solid #e6e6e6}
.UISuggestionList_ItemContainer_First{border-top:none;margin:0}

#bootloader_css_856yzl2mzqckwkkw_pkg_css { height: 42px; }