/*
HTTP Host: static.ak.fbcdn.net
Generated: May 2nd 2010 11:57:14 PM PDT
Machine: 10.16.140.108
Locale: nu_ll
Path: css/cllu1b2fxcg8ssos.pkg.css
*/

.object_browser_body{padding:3px 0 0 0;height:320px;overflow:auto;position:relative;width:100%}
.object_browser_header{display:inline}
.object_browser_segment_div{position:relative;zoom:1}
.object_browser_search_header{border-bottom:1px solid #e5e5e5;padding:8px;background:#f2f2f2;position:relative;height:16px}
.object_browser_search_header .title{float:left}
.object_browser_search_header .remove_link{float:right;padding-right:10px}
.browse_friends_filters label{padding-right:5px;color:#333;font-weight:normal}
.browse_friends_filters{border-bottom:1px solid #e5e5e5;padding:8px;background:#f2f2f2}
.object_browser_no_results,
.object_browser_pager_less,
.object_browser_pager_more{border-bottom:1px solid #eee;font-size:13px;font-weight:bold;height:33px;padding-top:16px;text-align:center;display:block;color:#3b5998}
.object_browser_block_people{border-bottom:1px solid #eee;font-size:13px;font-weight:bold;height:33px;padding-top:16px;text-align:center;display:block;color:#3b5998}
.object_browser_pager_less:hover,
.object_browser_pager_more:hover{background-color:#f0f2f7}
.object_browser_tab_container{background:#f2f2f2;border-bottom:1px solid #ddd;padding:7px 6px 6px}
.object_browser_search_wrapper{background:#f2f2f2;float:right}
.object_browser_search_wrapper .inputsearch{background-color:#fff}
.object_browser_tab_container li{padding-bottom:3px}
.object_browser_tab_container .uiSearchInput{margin-bottom:1px}
.browse_friends_filters select{margin:0 4px 0 4px}
.browse_friends_filters .accessibility_instructions{display:none}
.object_browser_hidden_action .uiButton{display:none}
.object_browser_fallback_container{line-height:300px;text-align:center}
.uiSearchInput{display:inline-block;position:relative}
.uiSearchInput input{outline:none;width:220px}
.uiSearchInput button{background:url(/rsrc.php/z7VU4/hash/66ad7upf.png) no-repeat -1px -2px;border:0;border-left:1px solid #e5e5e5;*border:0;cursor:pointer;display:block;height:16px;padding:0;position:absolute;right:1px;top:3px;width:21px;z-index:2}
.ff2 .uiSearchInput button{top:-3px}
.uiSearchInput button span{display:none}

#bootloader_css_cllu1b2fxcg8ssos_pkg_css { height: 42px; }