[submodule "algorithms/java"]
	path = algorithms/java
	url = git@github.com:hacktoolkit/java-algorithms.git
[submodule "algorithms/ruby"]
	path = algorithms/ruby
	url = git@github.com:hacktoolkit/ruby-algorithms.git
[submodule "android/hello_world"]
	path = android/hello_world
	url = git@github.com:hacktoolkit/android_hello_world.git
[submodule "android/simple_todo"]
	path = android/simple_todo
	url = git@github.com:hacktoolkit/android_simple_todo.git
[submodule "android/hacktoolkit-android_lib"]
	path = android/hacktoolkit-android_lib
	url = git@github.com:hacktoolkit/hacktoolkit-android_lib.git
[submodule "servers/ubuntu-desktop-bootstrap"]
	path = servers/ubuntu-desktop-bootstrap
	url = git@github.com:hacktoolkit/ubuntu-desktop-bootstrap.git
[submodule "servers/raspbian-bootstrap"]
	path = servers/raspbian-bootstrap
	url = git@github.com:hacktoolkit/raspbian-bootstrap.git
[submodule "servers/ubuntu-server-bootstrap"]
	path = servers/ubuntu-server-bootstrap
	url = git@github.com:hacktoolkit/ubuntu-server-bootstrap.git
[submodule "servers/ubuntu-mac-bootstrap"]
	path = servers/ubuntu-mac-bootstrap
	url = git@github.com:hacktoolkit/mac-bootstrap.git
[submodule "webapps/angular-seed"]
	path = webapps/angular-seed
	url = git@github.com:hacktoolkit/angular-seed.git
[submodule "webapps/htk-jekyll-bootstrap"]
	path = webapps/htk-jekyll-bootstrap
	url = git@github.com:hacktoolkit/htk-jekyll-bootstrap.git
[submodule "webapps/htk-static-html5"]
	path = webapps/htk-static-html5
	url = git@github.com:hacktoolkit/htk-static-html5.git
