[submodule "algorithms/ruby"]
	path = algorithms/ruby
	url = git@github.com:hacktoolkit/htk-algorithms-ruby.git
[submodule "algorithms/java"]
	path = algorithms/java
	url = git@github.com:hacktoolkit/htk-algorithms-java.git
[submodule "android/HelloWorld"]
	path = android/HelloWorld
	url = git@github.com:hacktoolkit/htk-android-HelloWorld.git
[submodule "android/SimpleTodo"]
	path = android/SimpleTodo
	url = git@github.com:hacktoolkit/htk-android-SimpleTodo.git
[submodule "android/hacktoolkit-android_lib"]
	path = android/hacktoolkit-android_lib
	url = git@github.com:hacktoolkit/hacktoolkit-android_lib.git
[submodule "servers/ubuntu-desktop-bootstrap"]
	path = servers/ubuntu-desktop-bootstrap
	url = git@github.com:hacktoolkit/ubuntu-desktop-bootstrap.git
[submodule "servers/raspbian-bootstrap"]
	path = servers/raspbian-bootstrap
	url = git@github.com:hacktoolkit/raspbian-bootstrap.git
[submodule "servers/ubuntu-server-bootstrap"]
	path = servers/ubuntu-server-bootstrap
	url = git@github.com:hacktoolkit/ubuntu-server-bootstrap.git
[submodule "servers/ubuntu-mac-bootstrap"]
	path = servers/ubuntu-mac-bootstrap
	url = git@github.com:hacktoolkit/mac-bootstrap.git
[submodule "webapps/angular-seed"]
	path = webapps/angular-seed
	url = git@github.com:hacktoolkit/angular-seed.git
[submodule "webapps/htk-angular-node-skeleton"]
	path = webapps/htk-angular-node-skeleton
	url = git@github.com:hacktoolkit/htk-angular-node-skeleton.git
[submodule "webapps/htk-firebase-bootstrap"]
	path = webapps/htk-firebase-bootstrap
	url = git@github.com:hacktoolkit/htk-firebase-bootstrap.git
[submodule "webapps/htk-jekyll-bootstrap"]
	path = webapps/htk-jekyll-bootstrap
	url = git@github.com:hacktoolkit/htk-jekyll-bootstrap.git
[submodule "webapps/htk-jekyll-hacktoolkit"]
	path = webapps/htk-jekyll-hacktoolkit
	url = git@github.com:hacktoolkit/htk-jekyll-hacktoolkit.git
[submodule "webapps/htk-static-html5"]
	path = webapps/htk-static-html5
	url = git@github.com:hacktoolkit/htk-static-html5.git
[submodule "django/htk-django-skeleton"]
	path = django/htk-django-skeleton
	url = git@github.com:hacktoolkit/htk-django-skeleton.git
[submodule "django/django-htk"]
	path = django/django-htk
	url = git@github.com:hacktoolkit/django-htk.git
