/*
HTTP Host: static.ak.fbcdn.net
Generated: June 7th 2010 11:48:40 AM PDT
Machine: 10.16.139.107
Locale: nu_ll
Path: css/5nnk0wd118wss4sk.pkg.css
*/

.fbEmu .body .fbEmuLink{color:#333333
}
.fbEmu .body .fbEmuLink:hover{text-decoration:none}
.fbEmu .hover:hover .title .fbEmuLink{text-decoration:underline}
.fbEmu a.async_saving{background:url(/rsrc.php/zBS5C/hash/7hwy7at6.gif) no-repeat left
center}
.fbEmu a.async_saving .fbEmuLinkText{visibility:hidden}
.fbEmu a.async_saving:hover{text-decoration:none}
.fbEmu .forceRTL{direction:rtl;text-align:right}
.fbEmu .forceLTR{direction:ltr;text-align:left}
.ego_unit{margin-bottom:15px}
.ego_unit .UIImageBlock_Content{padding-top:0}
.ego_forceRTL{direction:rtl;text-align:right}
.ego_forceLTR{direction:ltr;text-align:left}
.fbEmuEgo{line-height:13px}
.fbEmuEgo .image .img{max-height:72px;max-width:100px;-ms-interpolation-mode:bicubic;_clear:expression(
style.height = this.offsetHeight > 80 ? "80px":"auto",
style.width = this.offsetWidth > 100 ? "100px":"auto",
style.clear = "none", 0
);padding-top:3px}
.fbEmuEgo .title{font-weight:bold}
.fbEmuEgo .image .fbEmuLink{width:100px}
.fbEmuEgo .action{color:#777}
.fbEmuEgo .action .fbEmuContext .fbEmuLink{color:#777}
.fbEmuEgo .action div.UIImageBlock_Content{padding-top:1px}
.fbEmuFloat .image .fbEmuLink{display:block;float:left;margin:0 8px 2px 0;text-align:center}
.fbEmuFloat .title{margin-bottom:1px}
.fbEmuFloat .action{margin-top:5px}
.fbEmuHide{display:block;float:right;height:13px;margin:2px 2px 0 0;width:11px;padding-bottom:2px;padding-left:5px}
.fbEmuHide .thex{display:block;height:13px;width:11px;background:transparent url(/rsrc.php/zA4IG/hash/cny9pytx.png) no-repeat -869px -65px}
.fbEmuHide .thex:hover{background-color:#3b5998;background-position:-857px -65px;text-decoration:none}
.fbEmuHidePoll .undo{float:right;padding-left:2px;padding-bottom:2px;margin-bottom:3px;margin-left:5px}
.fbEmuBlock .fbEmuHide{margin-bottom:4px}
.fbEmuBlock .fbEmuHidePoll .otherdiv{margin-left:20px}
.fbEmuFloat .fbEmuHide{margin-top:0}
.fbEmuLegacy .fbEmuHidePoll .otherdiv .other{width:141px}
.fbEmuEgo .fbEmuHidePoll .otherdiv .other{width:206px}
.UIMentor{margin:0;color:#333}
.UIMentor_Name{font-weight:bold;margin:0 0 1px 0;line-height:14px}
.UIMentor_Message{padding:0;margin:2px 0 1px 0;line-height:14px;color:#777}
.UIMentor_Meter{width:85px;margin:1px 0 1px 0;float:left}
.UIMentor_Complete{color:#888;margin:-1px 0 0 4px;line-height:11px;float:left}
.UIMentor_Action{margin-top:2px}
.UIMentor_Progress{margin:3px 0 3px 0}
.UIMentor .UIMentorSendMessage .UIImageBlock_ICON_Image{margin-top:2px}
.UIMentor .UIMentorPoke .UIImageBlock_ICON_Image{margin-top:1px}
.UIMentor .UIImageBlock_ICON_Image{margin:0 6px 0 0}
.UIMentor .UIImageBlock_ICON_Content{vertical-align:top}
.UIMentor .ImageBlock_Hide{display:block;font-size:0;height:13px;padding:0;margin:1px 2px 0 6px;width:11px;background:transparent url(/rsrc.php/zA4IG/hash/cny9pytx.png) no-repeat -869px -65px}
.UIMentor .ImageBlock_Hide:hover{background-position:-857px -65px;background-color:#3b5998;text-decoration:none}
.friend_grid .friend_grid_row{margin:10px 0 5px}
.friend_grid .friend_grid_col{margin-left:10px;float:left;width:174px;overflow:hidden}
.friend_grid form.async_saving{opacity:.50;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50)}
.friend_grid .friend_grid_col .fg_name{font-size:11px;font-weight:bold;margin:0 0 1px 0;line-height:14px;width:90px;display:block;*display:inline;word-wrap:break-word}
.friend_grid .friend_grid_col .fg_explain{line-height:14px;padding:0;margin:2px 0 1px 0;color:#777}
.friend_grid .friend_grid_col .fg_action_hide{display:block;font-size:0;line-height:0;border-width:0;width:11px;height:13px;*margin:-1px -2px 0 -6px;padding:0;text-indent:-5000px;background:transparent url(/rsrc.php/zA4IG/hash/cny9pytx.png) no-repeat -869px -65px}
.friend_grid .friend_grid_col .fg_action_hide:hover{background-position:-857px -65px;background-color:#3b5998;text-decoration:none}
.friend_grid .friend_grid_col .fg_action_hide_container{margin:1px 2px 0 6px;width:11px}
.friend_grid .inactive{color:#666}
.pymk_participants_not_expanded .pymk_participants_long,
.pymk_participants_expanded .pymk_participants_short{display:none}
.UISuggestionList_ItemContainer{margin:10px 0 0;overflow:hidden;padding:10px 0 0;border-top:1px solid #e6e6e6}
.UISuggestionList_ItemContainer_First{border-top:none;margin:0}
.ego_x{float:right}
div.ego_desc{color:#777;line-height:13px}
.ego_icon_context{margin-right:4px;position:relative;top:2px}
.ego_image .img{max-width:80px;-ms-interpolation-mode:bicubic;_clear:expression(
style.width = this.offsetWidth > 80 ? "80px":"auto",
style.clear = "none", 0
);vertical-align:bottom}
a.ego_fb_photo{border:1px solid #ccc;padding:2px}
a.ego_fb_photo .img{max-height:100px;max-width:74px;-ms-interpolation-mode:bicubic;_clear:expression(
style.height = this.offsetHeight > 100 ? "100px":"auto",
style.width = this.offsetWidth > 74 ? "74px":"auto",
style.clear = "none", 0
);vertical-align:bottom}
.ego_title{display:block;font-weight:bold;line-height:13px;margin-bottom:2px;margin-right:20px;max-width:126px}
.ego_page #fb_menubar_logo .fb_logo_link{padding-left:0}
.ego_page #fb_menubar{width:980px}
.ego_page #universal_search{padding-right:0}
.ego_page .UIWashFrame_MainContent{padding-left:0;width:980px}
.ego_page .UIWashFrame_MainContent{padding-left:0;width:980px}
.ego_page .UIWashFrame_Content{width:720px}
.ego_page .UIWashFrame_SidebarAds{width:auto}
.ego_page .footer .info{width:490px}
.ego_page .UIStandardFrame_Container{padding-left:0;padding-top:15px;width:980px}
.ego_page .UIStandardFrame_Content{width:720px}
.ego_page .UIStandardFrame_SidebarAds{width:auto}
.ego_page .photo_metadata .left_metadata{width:490px}
.ego_column{width:234px}
div.ego_header{margin:0 0 5px 0}
.ego_medium .ego_image img{max-width:80px;-ms-interpolation-mode:bicubic;_clear:expression(
style.width = this.offsetWidth > 80 ? "80px":"auto",
style.clear = "none", 0
)}
.ego_medium .ego_action{margin-top:1px}
.ego_standard .ego_action{margin-top:1px}

#bootloader_css_5nnk0wd118wss4sk_pkg_css { height: 42px; }