/*    HTTP Host:  static.ak.fbcdn.net                                          */
/*    Generated:  March 29th 2009 4:02:42 PM PDT                               */
/*      Machine:  10.16.139.103                                                */
/*       Source:  Global Cache                                                 */
/*     Location:  css/webkit.css h:8o4e4fkm                                    */
/*       Locale:  en_US                                                        */
/*         Path:  css/webkit.css                                               */


select{border:1px solid;}
#presence #chat_tab_bar .chat_window_wrapper{position:absolute;}
.status_composer .input_wrapper{padding-right:0;}
.status_composer .status_field input{border:2px solid white;margin:-2px;}


#bootloader_css_webkit_css { height: 42px; }