/*    HTTP Host:  static.ak.fbcdn.net                                          */
/*    Generated:  April 19th 2009 3:16:29 AM PDT                               */
/*      Machine:  10.16.140.101                                                */
/*       Source:  Backing Store                                                */
/*     Location:  css/3b6yoayh1zggosc8.pkg.css h:3rfhe786                      */
/*       Locale:  en_US                                                        */
/*         Path:  css/3b6yoayh1zggosc8.pkg.css                                 */


.app_content_2373072738 .board_topic{border-color:#eee;padding:7px 8px;}
.app_content_2373072738 .deleted{background:#F7F7F7 none repeat scroll 0 0;color:#999999;font-size:11px;padding:5px 8px;}
.app_content_2373072738 .board_topic h3{font-weight:bold;}
.app_content_2373072738 .board_topic .topic_info{width:100%;}


.profile .box_tab{padding:15px 0px;position:relative;}
.profile .box_tab .box{border:solid 1px #D8DFEA;border-top:solid 0px;margin-bottom:20px;padding-bottom:0px;}
.profile .box_tab .box .inside{padding:14px 0px 15px 0px;margin:0px 17px 0px;}
.profile .box_tab .app_box_left_column{float:left;width:416px;}
.profile .box_tab .app_box_left_column .box .inside{width:380px;}
.profile .app_box_right_column .loading,
.profile .app_box_left_column .loading{background:no-repeat url(/images/loaders/indicator_blue_small.gif) center center;padding:0px 0px;}
.profile .box_tab .app_box_right_column{float:left;margin-left:20px;width:220px;}
.profile .box_tab .app_box_right_column .box .inside{width:184px;}
.profile .box_tab .box h3.box_header{padding:3px 17px;border-top:1px solid #94A3C4;font-size:13px;}
.profile .box_tab .box h3.box_header a.box_editor{right:7px;}
.profile .box_tab .box h4.box_header{padding:3px 17px;border-bottom:solid 1px #eceff5;}
.profile .app_footer_options{background:#f7f7f7;border-top:solid 1px #ccc;padding:15px 20px;margin-bottom:-20px;border-left:solid 1px #ccc;border-right:solid 1px #ccc;}


#bootloader_css_3b6yoayh1zggosc8_pkg_css { height: 42px; }